/* user styles */

* {
	cursor: url('image/Win95Def.png'), default;
  cursor: url('image/Win95DefBlack.png'), pointer;
}


:root {
  --header-image: url('bflag.png');

  /* colors */
  --content: #000000;
}

@font-face {
   font-family: 'DungGeunMo';
   font-weight: normal;
   font-style: normal;
   src: url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot');
   src: url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.ttf') format("truetype");
   font-display: swap;
}

@font-face {
  font-family: 'ideology';
  src: url('fonts/Ideology22.woff') format('woff');
}
  
.ascii {
    display: flex;
    justify-content: center;
}

#ascii {
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: white;
    overflow: auto;
    text-align: left;
}

.boxs {max-width:500px;}
.boxs .box {width:100%; height:309px;} /* 1:1.618 */

.box-containerstuff {
    display: flex;
    justify-content: center;

}
#box-containerstuff {
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
    overflow: auto;
    text-align: left;
}
#pt-br:hover{
    color: rgb(27, 186, 27)
}
pre {
    font-family: "gohu", "Lucida Console", monospace, Monaco;
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    max-width: 100vw;
    padding: 0 20px;
    white-space: pre-wrap;
}

body {
  background-color: #000000;
  font-family: 'DungGeunMo';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing : none;
  margin: 0;
  /* you can delete the line below if you'd prefer to not use an image */
  color: #dedede;
}

::selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

::-moz-selection {
  background-color: rgb(255, 255, 255); color: #000000;
}

* {
  box-sizing: border-box;
}

/* below this line is CSS for the layout */

#container {
  max-width: 900px;
  /* this is the width of your layout! */

  margin: 0 auto;
  /* this centers the entire page */
}

/* the area below is for all links */

#container a {
  color: #ffffff;
}

#header {
  width: 100%;
  background-color: #000000;
  /* header color here! */
  height: 150px;
  /* this is only for a background image! */
  --background-image: var(--header-image);
  background-size: 100%;
}

/* navigation section!! */
#navbar {
  height: 40px;
  background-color: #000000;
  /* navbar color */
  width: 100%;
  border: solid 1px rgb(255, 255, 255);
  padding: 0px;
  display: inline-block;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

/* navigation links*/
#navbar li a {
  color: rgb(255, 255, 255);
  /* navbar text color */
  font-weight: 800;
  text-decoration: none;
  /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  color: #000000;
  background-color: rgb(255, 255, 255); 
}

#flex {
  display: flex;
}

/* this colors BOTH sidebars */

aside {
  background-color: #141414;
  width: 200px;
  padding: 20px;
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
  border-bottom: solid 1px rgb(255, 255, 255);
  padding: 10px;
  display: inline-block;
}


/* this is the color of the main content area,
between the sidebars! */
main {
  background-color: #141414;
  flex: 1;
  padding: 20px;
  order: 2;
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
  border-bottom: solid 1px rgb(255, 255, 255);
}

/* what's this "order" stuff about??*/

*/ #leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}

footer {
  background-color: #000000;
  /* background color for footer */
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  /* this centers the footer text */
}

h1 {
  font-family: 'DungGeunMo';
  font-size: 20x;
  font-style: normal;
        font-weight: 400;
  -webkit-font-smoothing : none;
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing : none;
}

h2,
h3 {
  font-family: 'DungGeunMo';
  font-size: 23px;
  font-style: normal;
        font-weight: 400;
  -webkit-font-smoothing : none;
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing : none;
}

strong {
  /* this styles bold text */
  color: #ffffff;
}

/* this is just a cool box */
.box {
  background-color: #000000;
  border: solid 1px rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
}

/* CSS for extras */

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: #000000;
}


/* BELOW THIS POINT IS MEDIA QUERY */


@media only screen and (max-width: 800px) {
  #flex {
      flex-wrap: wrap;
  }

  aside {
      width: 100%;
  }

  main {
      order: 1;
  }

  #leftSidebar {
      order: 2;
  }

  #rightSidebar {
      order: 3;
  }

  #navbar ul {
      flex-wrap: wrap;
  }
}
