*
{font-family:"Courier New",Times,serif;}

body {
	background: black;
	color: #dadada;
	font-size: 17px;
  }
  
  .line {
	display: block;
	line-height: 2em;
  }
  
  .user {
	color: white;
	
	&::before {
	  content: '[';
	  display: inline;
	}
	
	&::after {
	  content: ']';
	  display: inline;
	}
  }
  
  .red {
	color: rgb(255, 0, 0);
  }
  
  .server {
	color: rgb(255, 255, 255);
  }
  
  .h4ck3r {
	color: rgb(165, 165, 165);
  }
