@font-face {
   font-family: 'DungGeunMo';
   font-weight: normal;
   font-style: normal;
   src: url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot');
   src: url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/DungGeunMo/DungGeunMo.ttf') format("truetype");
   font-display: swap;
}


body {
	background: black;
	color: #dadada;
	font-size: 17px;
  }
  
  .line {
	display: block;
	line-height: 2em;
  }
  
  .user {
	color: white;
	
	&::before {
	  content: '[';
	  display: inline;
	}
	
	&::after {
	  content: ']';
	  display: inline;
	}
  }
  
  .red {
	color: rgb(255, 0, 0);
  }
  
  .server {
	color: rgb(255, 255, 255);
  }
  
  .h4ck3r {
	color: rgb(165, 165, 165);
  }
